<% layout("../layout") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css"
        integrity="sha512-shT5e46zNSD6lt4dlJHb+7LoUko9QZXTGlmWWx0qjI9UhQrElRb+Q5DM7SVte9G9ZNmovz2qIaV7IWv0xQkBkw=="
        crossorigin="anonymous" />
    <div class="main_content">
        <div class="mcontainer">
            <h2 class="text-2xl font-semibold text-center" style="margin-top: 20px;"> Bağlantılar</h2>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;"> <i class="fa fa-linkedin fa-2x"></i> </label>
                <input type="text" class="uk-input" placeholder="@ornek">
            </span>
            <hr>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;"> <i class="fa fa-twitter fa-2x"></i> </label>
                <input type="text" class="uk-input" placeholder="@ornek">
            </span>
            <hr>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;"> <i class="fa fa-facebook fa-2x"></i> </label>
                <input type="text" class="uk-input" placeholder="@ornek">
            </span>
            <hr>
            <!-- <hr style="margin-top: 22px; border: 2px solid darkgray;"> -->

        </div>
    </div>