<% layout("../layout") %>
<header
style="display: flex; height: 50px; padding-left: 2vw; padding-right: 7vw; padding-top: 10px; border-radius: 20px;">
<% if (user) { %>
    <div style="flex: 1;">
        <a href="/setting">
            <ion-icon name="chevron-back-outline" style="color: gray; float: left;" class="text-3xl"></ion-icon>
        </a>
    </div>
    <% }else{ %>
        <div style="flex: 2;">
            <a href="/users/login">
                <ion-icon name="person-outline" style="color: gray; float: left;" class="text-3xl"></ion-icon>
            </a>
        </div>
        <% } %>
            <div style="flex: 15;">
                <h2 class="text-2xl font-semibold" style="margin-top: 0px;"> Güvenlik<a> </h2>
            </div>
            <div style="flex: 2;">
                <h2 class="text-2xl font-semibold" style="margin-top: 0px; color: steelblue;"
                    onclick="bioyaz()"> Kaydet<a> </h2>
            </div>
</header>
    
    <div class="main_content">
        <div class="mcontainer">
            <h2 class="text-2xl font-semibold text-center" style="margin-top: 20px;"> Şifre İşlemleri</h2>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;">Eski Şifre</label>
                <input type="text" class="uk-input" placeholder="* * * * * * * * ">
            </span>
            <hr style="margin-top: 0px; border: 2px solid darkgray;">
            
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;">Yeni Şifre</label>
                <input type="text" class="uk-input" placeholder="* * * * * * * * ">
            </span>
            <hr>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;">Yeni Şifre Tekrar</label>
                <input type="text" class="uk-input" placeholder="* * * * * * * * ">
            </span>
            <hr>

        </div>
    </div>