<% layout("../layout") %>
    <div class="main_content">
        <div class="mcontainer">
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;">Kullanıcı Adı</label>
                <input type="text" class="uk-input" placeholder="@ornek">
            </span>
            <hr>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;">Mail Adresi</label>
                <input type="text" class="uk-input" placeholder="example@ornek.com">
            </span>
            <hr>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;">Telefon</label>
                <input type="text" class="uk-input" placeholder="- --- -- --">
            </span>
            <hr>






            <!-- <hr style="margin-top: 22px; border: 2px solid darkgray;"> -->

        </div>
    </div>