<% layout("../layout") %>
    
    <div class="main_content">
        <div class="mcontainer">
            <h2 class="text-2xl font-semibold text-center" style="margin-top: 20px;"> Hesap Ayarlar覺</h2>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;">Kullan覺c覺 Ad覺</label>
                <input type="text" class="uk-input" placeholder="@ornek">
            </span>
            <hr>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;">Mail Adresi</label>
                <input type="text" class="uk-input" placeholder="example@ornek.com">
            </span>
            <hr>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;">Telefon</label>
                <input type="text" class="uk-input" placeholder="- --- -- --">
            </span>
            <hr>

            <!-- <hr style="margin-top: 22px; border: 2px solid darkgray;"> -->

        </div>
    </div>