<% layout("../layout") %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
    integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.11.3/cloudinary-core.min.js"
    integrity="sha512-JlOhEgkriqAqb9bcQ3ILIQZFjpr7kJHKU9vudBHBulgfc1IgtUtMCK5dX3OyWRFpa1hkz8M4EiuY0ut5vMgAVg=="
    crossorigin="anonymous"></script>
    <%- include ../part/headerflex.ejs  %>

  <div class="main_content">
    <div class="mcontainer">
      <span class="badge" style="display: flex; flex-direction: row;">
        <div style="flex: 11;">
          <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> <a href="/pro">Rolünüz : </a>
          </h2>
        </div>
        <div style="flex:2">
            <p style="margin-top: 22px;"><strong>Yazar</strong></p>
        </div>
      </span>
      <hr style="margin-top: 22px;">
      <span class="badge" style="display: flex; flex-direction: row;">
        <div style="flex: 11;">
          <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> <a href="/pro">Profik Tıklanma Sayısı : </a>
          </h2>
        </div>
        <div style="flex:2">
            <p style="margin-top: 22px;"><strong>6545</strong></p>
        </div>
      </span>
      <hr style="margin-top: 22px;">
      <span class="badge" style="display: flex; flex-direction: row;">
        <div style="flex: 11;">
          <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> <a href="/pro">Kazançlar : </a>
          </h2>
        </div>
        <div style="flex:2">
            <p style="margin-top: 22px;"><strong>0 ₺</strong></p>
        </div>
      </span>
      <hr style="margin-top: 22px;">
    </div>
  </div>