<% layout("../layout") %>
    <div class="main_content">
        <div class="mcontainer">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> <a href="/hesap">Hesap</a> <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon></h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> <a href="/guvenlik">Güvenlik</a> <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon></h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> <a href="/baglanti">Bağlantılar</a> <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon></h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> Erişebilirlik <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon></h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> Reklam Ayarları <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon></h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> İstatistik <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon></h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> Koşullar <ion-icon style="float: right;" name="chevron-forward-outline"></ion-icon></h2>
            </span>
            <hr style="margin-top: 22px; border: 2px solid darkgray;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px; color: orangered;"> <a href="/users/logout">Çıkış Yap</a> <ion-icon name="log-out-outline" style="float: right; font-size: 22pt;"></ion-icon> </h2>
            </span>
            <hr style="margin-top: 22px;">
        </div>
    </div>