<style>
    footer {
        display: flex;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: white;
        text-align: center;
        border-top: 1px solid lightgray;
        border-radius: 20px;
        padding-top: 10px;
    }
</style>
<footer>
    <div style="flex: 2; align-items: center; justify-content: center; ">
        <img src="../../../front/images/avatars/avatar-2.jpg" style="height: 33px; top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; border-radius: 20px;">
    </div>
    <div style="flex: 2; align-items: center; justify-content: center;">
        <ion-icon name="camera-outline" style="color: gray;" class="text-4xl"></ion-icon>
    </div>
    <div style="flex: 2; align-items: center; justify-content: center;">
        <img src="../../../paylas.png" style="height: 40px; top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; margin-bottom: 4px;">
    </div>
    <div style="flex: 2; align-items: center; justify-content: center;">
        <ion-icon name="notifications-outline" style="color: gray;" class="text-4xl"></ion-icon>
    </div>
    <div style="flex: 2; align-items: center; justify-content: center;">
        <ion-icon name="chatbubble-outline" style="color: gray;" class="text-4xl"></ion-icon>
    </div>
</footer>