<div style="display: flex; flex-direction: row; position: absolute; z-index: 9999999999999999; background-color: white; max-height: 60px; width: 100vw; padding:20px;">
    <div style="flex:3">
        <img src="../../../newpan.png" style="height: 40px; width: auto;">
    </div>
    <div style="flex:6">
        Arama
    </div>
    <div style="flex:1">
        <i class="fa fa-heart fa-3x"></i>
    </div>
</div>