<% layout("layout") %>
    <div class="main_content">
        <br>
        <div class="mcontainer" style="border: 1px solid #03A9F4; border-radius: 20px; margin:5px; height: 73vh;">
            <div class="bg-white rounded-2xl -mt-4"> 
                <h3 class="text-lg font-semibold">Bildirimler</h3>
            </div>
            <div class="lg:flex lg:mt-8 mt-4 lg:space-x-8">
                <div class="lg:w-12/12 space-y-6">
                    <ul class="space-y-6">
                            <li style="margin-top: 4px;">
                                <a href="">
                                    <div class="flex items-start pl-3 space-x-4">
                                        <img src="../../../front/images/avatars/avatar-2.jpg" style="width: 40px; height: 40px;" class="rounded-full">
                                        <div class="flex-1">
                                            <!-- <h3 class="text-lg font-semibold line-clamp-1"> -->
                                            <h3 class="text-lg font-semibold">
                                                Konu bağlığı
                                            </h3>
                                            <p class="text-sm text-gray-400 mb-2"> Yazar: <span data-href="%40tag-dev.html">Abdullah Bektaş</span>
                                            </p>
                                            <div class="row" style="margin-top: -9px; margin-left: 1px;">
                                                <table>
                                                    <tr>
                                                        
                                                    <td>
                                                        <div class="flex items-center">
                                                            <ion-icon name="logo-facebook"></ion-icon>
                                                            <span class="text-sm"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="flex items-center">
                                                            <ion-icon name="logo-whatsapp" style="padding-left: 7vw;"></ion-icon>
                                                            <span class="text-sm"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="flex items-center">
                                                            <ion-icon name="logo-twitter" style="padding-left: 7vw;"></ion-icon>
                                                            <span class="text-sm"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="flex items-center">
                                                            <ion-icon style="padding-left: 7vw;" 
                                                                name="heart-outline"></ion-icon>
                                                            <span class="text-sm"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="flex items-center">
                                                            <ion-icon style="padding-left: 7vw;"  name="chatbubble-ellipses-outline"></ion-icon>

                                                            <span class="text-sm"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="flex items-center">
                                                            <b>
                                                            <ion-icon  style="color:#03A9F4; font-weight:bolder; padding-left: 7vw;" name="checkmark-outline"></ion-icon>

                                                            </b>
                                                            <span class="text-sm"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="flex items-center">
                                                            <ion-icon  style="padding-left: 7vw;" name="ellipsis-vertical"></ion-icon>
                                                            <span class="text-sm"></span>
                                                        </div>
                                                    </td>
                                                    </tr>
                                                </table>
                                        </div>                                        
                                    </div>
                                    </div>
                                    
                                </a>
                            </li>
                            <hr style="margin-top: -0px;">
                    </ul>
                </div>
                <!-- <div class="lg:w-5/12 space-y-6">
                  
                    <div class="widget">
                        <h4 class="text-2xl mb-3 font-semibold"> Hakkında </h4>
                        <ul class="text-gray-600 space-y-4">
                            <li class="flex items-center space-x-2"> 
                                <ion-icon name="home-sharp" class=" rounded-full bg-gray-200 text-xl p-1.5 mr-3"></ion-icon>
                                <strong> İstanbul'da bir yer . .   </strong>
                            </li>
                            <li class="flex items-center space-x-2"> 
                                <ion-icon name="globe" class=" rounded-full bg-gray-200 text-xl p-1.5 mr-3"></ion-icon>
                                <strong> www.ornek.com  </strong>
                            </li>
                            <li class="flex items-center space-x-2"> 
                                <ion-icon name="logo-instagram" class=" rounded-full bg-gray-200 text-xl p-1.5 mr-3"></ion-icon>
                                <strong> @ornekkisi  </strong>
                            </li>
                            <li class="flex items-center space-x-2">
                                <ion-icon name="logo-facebook" class=" rounded-full bg-gray-200 text-xl p-1.5 mr-3"></ion-icon>
                                <strong> <a href="https://google.com">Abdullah Bektaş</a> </strong>
                            </li>   
                            <li class="flex items-center space-x-2">
                            <ion-icon name="logo-twitter" class=" rounded-full bg-gray-200 text-xl p-1.5 mr-3"></ion-icon>
                                <strong> <a href="https://google.com">Abdullah Bektaş</a> </strong>
                            </li>   
                        </ul></div>
                    </div> -->
            </div>

        </div>
    </div>