<% layout("layout") %>

    <div class="main_content">
        <div class="mcontainer">

            <div style="display: flex;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Tesla_circa_1890.jpeg/440px-Tesla_circa_1890.jpeg" style="flex-direction: row; flex: 1; border-radius: 20px; height: 25vh; width: 23vh; padding: 3px;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Tesla_circa_1890.jpeg/440px-Tesla_circa_1890.jpeg" style="flex-direction: row; flex: 1; border-radius: 20px; height: 25vh; width: 23vh; padding: 3px;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Tesla_circa_1890.jpeg/440px-Tesla_circa_1890.jpeg" style="flex-direction: row; flex: 1; border-radius: 20px; height: 25vh; width: 23vh; padding: 3px;">
            </div>
<!-- 
            <table>
                <% for( let index = 0; index < 1; index++ ) { %>
                    <tr style="margin-top: 10vh;">
                        <td>
                            <div class="card-media h-44">
                                <div class="card-media-overly"></div>
                                <a href="/magazaic"><img src="../../../front/images/product/1.jpg" style="border-radius: 20px; height: 28vh; width: 28vh;"></a>
                                <span>Deneme</span>
                            </div>
                        </td>
                        <td>
                            <div class="card-media h-44">
                                <div class="card-media-overly"></div>
                                <a href="/magazaic"><img src="../../../front/images/product/1.jpg" style="border-radius: 20px; height: 28vh; width: 28vh;"></a>
                                <span>Deneme</span>
                            </div>
                        </td>
                        <td>
                            <div class="card-media h-44">
                                <div class="card-media-overly"></div>
                                <a href="/magazaic"><img src="../../../front/images/product/1.jpg" style="border-radius: 20px; height: 28vh; width: 28vh;"></a>
                                <span>Deneme</span>
                            </div>
                        </td>
                    </tr>
                <% } %>
            </table> -->
        </div>
    </div>