<% layout("layout") %>

<div class="main_content" id="app">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <ion-icon name="bar-chart-outline" class="text-6xl" style="color: cadetblue;"></ion-icon>
                    </th>
                    <th>
                        
                    </th>
                </tr>
                <tr>
                    <th>
                        <ion-icon name="cash-outline" class="text-6xl" style="color: cadetblue;"></ion-icon>
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th>
                        <ion-icon name="flame-outline" class="text-6xl" style="color: cadetblue;"></ion-icon>
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th>
                        <ion-icon name="globe-outline" class="text-6xl" style="color: cadetblue;"></ion-icon>
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th>
                        <ion-icon name="rocket-outline" class="text-6xl" style="color: cadetblue;"></ion-icon>
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th>
                        <ion-icon name="storefront-outline" class="text-6xl" style="color: cadetblue;"></ion-icon>
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th>
                        <ion-icon name="gift-outline" class="text-6xl" style="color: cadetblue;"></ion-icon>
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th>
                        <ion-icon name="game-controller-outline" class="text-6xl" style="color: cadetblue;"></ion-icon>
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th>
                        <ion-icon name="ribbon-outline" class="text-6xl" style="color: cadetblue;"></ion-icon>
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>