<% layout("layout") %>
    <div class="main_content">
        <div class="mcontainer">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> Hesap </h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> Kişisel </h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> İletişim </h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> Güvenlik </h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> Bağlantılar </h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> Koşullar </h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> Reklamsız Kullan </h2>
            </span>
            <hr style="margin-top: 22px;">
            <span class="badge">
                <h2 class="text-2xl font-semibold" style="margin-top: 20px;"> Reklam Ver </h2>
            </span>
            <hr style="margin-top: 22px;">
        </div>
    </div>