<% layout("../layout") %>
<%- include ../part/header2.ejs %> 
    <div class="main_content">
        <div class="mcontainer">
            <div style="overflow: auto; white-space: nowrap; margin-top: -24px;">
                <% etiket.forEach(element => { %>
                    <a href="/sozluk/<%= element.tag %>" style="text-transform: lowercase; display: inline-block;
                        text-align: center;
                        margin: 5px;
                        background-color: #E3F2FD;
                        border: 1px solid #0091EA;
                        color: #0D47A1;
                        text-decoration: none;" class="bg-gray-100 py-1.5 px-4 rounded-full">
                        <b><%= element.tag %></b>
                    </a>
                <% }) %>
            </div>
            <hr>
            <div class="grid md:grid-cols-4 grid-cols-3 gap-3 mt-5">
                <% for( let index = 0; index < 12; index++ ) { %>
                    <div>
                        <div class="bg-green-400 max-w-full lg:h-56 h-48 rounded-lg relative overflow-hidden shadow uk-transition-toggle">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Tesla_circa_1890.jpeg/440px-Tesla_circa_1890.jpeg" class="w-full h-full absolute object-cover inset-0">
                            <!-- overly-->
                            <div class="-bottom-12 absolute bg-gradient-to-b from-transparent h-1/2 to-gray-800 uk-transition-slide-bottom-small w-full"></div>
                            <div class="absolute bottom-0 w-full p-3 text-white uk-transition-slide-bottom-small flex items-center">
                                <div class="flex-1"> 
                                    <div class="text-sm"> <a href="/medyaic"> Nikola Tesla </a> </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                <% } %>
                
            </div>
            <!-- 
            <table>
                <% for( let index = 0; index < 1; index++ ) { %>
                    <tr style="margin-top: 10vh;">
                        <td>
                            <div class="card-media h-44">
                                <div class="card-media-overly"></div>
                                <a href="/magazaic"><img src="../../../front/images/product/1.jpg" style="border-radius: 20px; height: 28vh; width: 28vh;"></a>
                                <span>Deneme</span>
                            </div>
                        </td>
                        <td>
                            <div class="card-media h-44">
                                <div class="card-media-overly"></div>
                                <a href="/magazaic"><img src="../../../front/images/product/1.jpg" style="border-radius: 20px; height: 28vh; width: 28vh;"></a>
                                <span>Deneme</span>
                            </div>
                        </td>
                        <td>
                            <div class="card-media h-44">
                                <div class="card-media-overly"></div>
                                <a href="/magazaic"><img src="../../../front/images/product/1.jpg" style="border-radius: 20px; height: 28vh; width: 28vh;"></a>
                                <span>Deneme</span>
                            </div>
                        </td>
                    </tr>
                <% } %>
            </table> -->
        </div>
        <a @click="konuEkle()" style="color: white;" hidden class="bg-blue-600 flex h-9 items-center justify-center rounded-lg text-white px-12 font-semibold">
            Paylaş </a>
        <div id="create-post-modal" class="create-post" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical rounded-lg p-0 lg:w-5/12 relative shadow-2xl uk-animation-slide-bottom-small">

                <div class="text-center py-4 border-b" v-if="yyy == null">
                    <h3 class="text-lg font-semibold"> Kütüphaneye ekleme yapıyorsunuz. </h3>
                    <button class="uk-modal-close-default bg-gray-100 rounded-full p-2.5 m-1 right-2" type="button" uk-close uk-tooltip="title: Close ; pos: bottom ;offset:7"></button>
                </div>
                <div class="text-center py-4 border-b" style="background-color: #03A9F4" v-if="yyy == true">
                    <h3 class="text-lg font-semibold" style="color: white;"> Yorumunuz başarıyla eklendi. </h3>
                    <!-- <button class="uk-modal-close-default bg-gray-100 rounded-full p-2.5 m-1 right-2" type="button" uk-close uk-tooltip="title: Close ; pos: bottom ;offset:7"></button> -->
                </div>
                <div class="flex flex-1 items-start space-x-4 p-5">
                    <!-- <img src="../../../front/images/avatars/avatar-2.jpg" class="bg-gray-200 border border-white rounded-full w-11 h-11"> -->
                    <div class="flex-1 pt-1" style="border-radius: 20px;">
                        <input type="file" class="uk-textare text-black shadow-none focus:shadow-none text-xl font-medium resize-none"  placeholder="Başlık">
                        <hr>
                        <input v-model="title" class="uk-textare text-black shadow-none focus:shadow-none text-xl font-medium resize-none"  placeholder="Başlık">
                        <hr>
                        <textarea class="uk-textare text-black shadow-none focus:shadow-none text-xl font-medium resize-none" rows="14"  placeholder="Açıklama"></textarea>
                    </div>
                </div>
                
                <!-- <div class="bsolute bottom-0 p-4 space-x-4 w-full">
                    <ion-icon name="link-outline" class="text-3xl" style="padding-left: 10px;"></ion-icon>
                    <ion-icon name="book-outline" class="text-3xl" style="padding-left: 10px;"></ion-icon>
                </div> -->
                <!-- <div class="flex items-center w-full justify-between p-3 border-t">
                    <div class="flex space-x-2">

                        <!-- <a @click="konuEkle()" style="color: white;" class="bg-blue-600 flex h-9 items-center justify-center rounded-md text-white px-5 font-medium">
                          Paylaş </a> -->
                          <!-- <img @click="konuEkle()" style="height: 30px;" src="../../paylas.png" class=""> -->
                    <!-- </div> -->

                    <!-- <a @click="konuEkle()" style="color: white;" hidden class="bg-blue-600 flex h-9 items-center justify-center rounded-lg text-white px-12 font-semibold">
                        Paylaş </a> -->
                        <!-- <img @click="konuEkle()" hidden style="height: 30px;" src="../../paylas.png" class=""> -->
                <!-- </div>  -->
            </div>
        </div>
    </div>